<%- include('./partials/header.ejs') %>

    <h1 class="text-center text-4xl bg-red-500 m-0"><%= i.zooName %></h1>
    <pre >No of Animals:<%= i.numberOfAnimal %>    Location:<%= i.location %>    Time:<%= i.openingDuration %></pre>
    <img src="<%= i.zooImageUrl %>" alt="">
    
  

<%- include('./partials/footer.ejs') %>